{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <br>
    <!-- follow and unfollow button -->
    <!-- for signed in users-->
    <!-- Note that this only applies to any “other” user: a user should not be able to follow themselves. -->
    <div class="row">
        <div class="col-3">
            <h4>{{ selected_user_data.username }}</h4>
        </div>
        
        <!-- buttons -->
        <div class="col-3">
            <!-- for signed in users -->
            {% if user.is_authenticated %}
                <!-- for users not current user -->
                {% if user.id != selected_user_data.id %}
                        {% if is_following %}
                            <form action="{% url 'unfollow' id=selected_user_data.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Unfollow</button>
                            </form>
                        {% else %}
                            <form action="{% url 'follow' id=selected_user_data.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Follow</button>
                            </form>
                        {% endif %}
                {% endif %}            
            {% endif %}
        </div>
    </div>

    <!-- follow count -->
    <div class="row">
        <div class="col-3">
            <h6>Followers: {{ count_follows }} </h6>
        </div>
        <div class="col-3">
            <h6>Following: {{ count_followings }} </h6>
        </div>
    </div>
    
    <!-- show all posts -->
    <div>
        <!-- pagination - 10 posts in a page -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% else %}
                    <!-- « refers to << -->
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo; first</a></li> 
                    <li class="page-item disabled"><a class="page-link" href="#">previous</a></li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- loop thr and display every post received -->
        <div>
            {% for post in page_obj.object_list %}
                <div class="container posts_div" style="border: 0.5px solid #d3d3d352; padding-top: 10px; padding-bottom: 10px;">
                    <div class="row">
                        <!-- basic post info from post object -->
                        <div class="col">
                            <a href="{% url 'user_profile' id=post.author.id %}">{{ post.author }}</a>
                        </div>
                        <div class="col">
                            <p>{{ post.date_time }}</p>
                        </div>
                        <!-- likes info from M2M rs in post.likes -->
                        <div class="col">
                            <span id="like-count-{{ post.id }}">{{ post.likes.count }} Likes</span>
                        </div>
                        <div class="col">
                            <button class="like_buttons" type="submit" data-post-id="{{ post.id }}">
                                <!-- conditionals within a button tag -->
                                {% if user in post.likes.all %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                        </div>
                        <div class="col">
                            {% if user == post.author %}
                                <!-- replace content with text area when button is clicked -->
                                <button class="edit_buttons" type="submit" data-post-id="{{ post.id }}">Edit</button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- check if user is author then show edit button-->
                    {% if user == post.author %}
                        <!-- text area is hidden unless edit button is pressed -->                
                        <div id="edit-view-{{ post.id }}" style="display:none">
                            <input id="text-area-{{ post.id }}" type="text-area" class="form-control mb-3" name="edit_post" value="{{ post.content }}">
                            <!-- magic is to pass post id via button tag -->
                            <button type="submit" class="save_buttons" data-post-id="{{ post.id }}">Save</button>
                        </div>
                    {% endif %}
                    
                    <!-- by default always show post content -->
                    <div id="content-view-{{ post.id }}">
                        <p>{{ post.content }}</p>
                    </div>
                </div>                
            {% endfor %}
        </div>      
    </div>

</div>
{% endblock %}