{% extends 'orders/base.html' %}
<!-- This is to load the static files -->
{% load static %}

{% block content %}

    <div class="promotions">
        <!-- Add promotion cards here -->
    </div>

    <h2>Popular Restaurants Near You</h2>
    <div class="restaurant-grid">
        {% for restaurant in restaurants %}
        <a class="restaurant-card-link" href="{% url 'menu_display' restaurant.id %}">
            <div class="restaurant-card">                
                <!-- This will display a default image if the restaurant doesn't have an image-->
                <div class="restaurant-image-container">
                    {% if restaurant.image %}
                        <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" class="restaurant-image">
                    {% else %}
                        <img src="{% static 'orders\default_image.jpg' %}" alt="{{ restaurant.name }}">
                    {% endif %}
                </div>
                <div class="restaurant-details">
                    <h4 class="restaurant-name">{{ restaurant.name }}</h4>
                    <p class="restaurant-cuisine">{{ restaurant.cuisine }}</p>
                    <div class="restaurant-info">
                        <span class="restaurant-rating">⭐ {{ restaurant.rating }}</span>
                        <span class="restaurant-hours">🕒 {{ restaurant.opening_time }} - {{ restaurant.closing_time }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
{% endblock %}